# File di configurazione per la Root CA "AS"

[ ca ]
default_ca = AS

[req]
default_bits = 2048
prompt = no
encrypt_key = no
default_md = sha256
distinguished_name = dn

[dn]
CN = Autorità Sanitaria
C = IT
ST = Italia
L = Roma
O = Servizio Sanitario Nazionale
OU = Rilascio/Revoca GP

[ AS ]
dir = Application/AS
certificate = $dir/auto_certificate.cert
private_key = $dir/private/private_key.pem
new_certs_dir = $dir/certs
database = $dir/index.txt
serial = $dir/serial
default_md = sha256
policy = policy_anything
default_days = 3650
copy_extensions = copy

[ policy_anything ]
countryName = optional
stateOrProvinceName = optional
organizationName = optional
organizationalUnitName = optional
commonName = optional
emailAddress = optional

[ v3_ca ]                                           # Root CA certificate extensions
subjectKeyIdentifier = hash                         # Subject key identifier
authorityKeyIdentifier = keyid:always,issuer        # Authority key identifier
basicConstraints = critical, CA:true                # Basic constraints for a CA
keyUsage = critical, keyCertSign, cRLSign           # Key usage for a CA